<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">


  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <targets async="true">
    <target xsi:type="File"
            name="default"
            layout="${longdate} - ${level:uppercase=true}: ${message}${onexception:${newline}EXCEPTION\: ${exception:format=ToString}}"
            fileName="${basedir}/logs/${shortdate}.log"
            keepFileOpen="false"
            encoding="UTF-8"
    />

    <target xsi:type="ColoredConsole"
            name="console"
            useDefaultRowHighlightingRules="true"
            layout="${time}: ${logger} > ${message} ${exception}">
    </target>
  </targets>
  <rules>
    <!--<logger name="*" writeTo="default" minlevel="Info" />-->
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!--BlackHole without writeTo -->
    <logger name="*" writeTo="default" minlevel="Trace" />
    <logger name="*" writeTo="console" minlevel="Trace" />
  </rules>
</nlog>